.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  color: black;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

button#all-button {
  background-color: #e74c3c;
}

button#all-button:hover {
  background-color: #c0392b;
}
